.PokemonCard
  .PokemonCard-title
    h1 {{ name }}
  .PokemonCard-sprite
    img(:src="imageUrl", :alt="name")
  .PokemonCard-decoration
    .circle
  .PokemonCard-types
    h4(v-for='type in types') {{type.name}}
  